.audioPlayer {
    width: 99%;
    // height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    font-family: "Montserrat", sans-serif;
  }
  .audioBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    height: 100%;
  }
  // .playPauseBtn {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   color: #3c3c3c;
  //   margin-right: 10px;
  //   font-size: 28px;
  // }
  .audioPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgb(215 215 215);
    font-size: 28px;
  }
  .audioPicture svg {
    color: #1c1c1c;
    // z-index: 2;
  }
  .audioInfoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .audioName {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .authorName {
    font-size: 10px;
    font-weight: 100;
    color: #4a4a4a;
  }
  .audioDuration {
    font-size: 12px;
  }